* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.wrapper {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.navbar {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 183px;
  height: 62px;
}
.navbar__ul {
  display: flex;
  align-items: center;
  gap: 70px;
}
.navbar__link {
  color: #302929;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  text-decoration: none;
}
.navbar__link:hover {
  color: #b0cc0d;
  transition: 0.2s;
  text-decoration: underline;
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 55px;
}
/* -------------- */
.navbar__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.telephone {
  display: flex;
  align-items: center;
  gap: 4px;
}
.button {
  display: flex;
  width: 140px;
  height: 35px;
  padding: 3px 47px 3px 17px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
}
.button:hover {
  background: #ba8d32;
}
.button:active {
  opacity: 0.6;
}
.sign {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
.number {
  color: #302929;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
.number:hover {
  color: #b0cc0d;
}
/* ----------------------------------- */
.cook {
  padding-top: 54px;
  padding-left: 102px;
  width: 92%;
  height: 450px;
  border-radius: 55px;
  background: #b0cc0d;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}
.kitchen__title {
  width: 400px;
  color: #fff;
  font-family: Montserrat;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 65px */
  text-transform: uppercase;
}
.kitchen__text {
  margin-top: 20px;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px; /* 236% */
}
.header__btn {
  margin-top: 20px;
  margin-bottom: 47px;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  border: none;
}
.header__btn:hover {
  background: #b88c35;
}
.header__btn:active {
  opacity: 0.6;
}
.food {
  width: 866px;
  height: 577px;
  position: absolute;
  left: 400px;
  top: 30px;
  z-index: 1;
}
.chiziq {
  position: absolute;
  width: 590px;
  top: 50px;
  right: 87px;
  z-index: -1;
}
.past__barg {
  position: absolute;
  left: -95px;
  bottom: -147px;
}
.tepa__barg {
  position: absolute;
  top: -120px;
  left: 390px;
}
.barg {
  position: absolute;
  left: 470px;
  bottom: -70px;
}
.no_xat {
  position: absolute;
  right: -100px;
  bottom: -145px;
}
/* --------------------------------------------our------------------------------------------ */
.our__title {
  margin-top: 135px;
  margin-bottom: 40px;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}
.our__navbar {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our_navbar__btn {
  width: 96px;
  height: 43px;
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #b0cc0d;
}
.power {
  padding-left: 8px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.kkal {
  padding-left: 13px;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.our_navbar__btn:hover {
  background: #ffa800;
  transition: 0.1s;
}
.slim {
  display: flex;
  flex-direction: column;
  width: 136px;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #d9d9d9;
  color: #6a6a6a;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #6a6a6a;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
}
.slim:hover {
  background: #ffa800;
  color: white;
}
.balance {
  display: flex;
  flex-direction: column;
  width: 179px;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #d9d9d9;
  color: #6a6a6a;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #6a6a6a;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
}
.balance:hover {
  background: #ffa800;
  color: white;
}
/* -----------------------------week------------------------------------------------ */
.week {
  padding-top: 38px;
  padding-left: 40px;
  padding-right: 29px;
  width: 92%;
  border-radius: 55px;
  background: #b0cc0d;
  position: relative;
  margin: 0 auto;
  /* z-index: -1; */
}
.monday {
  padding-bottom: 33px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.monday__right {
  display: flex;
}
.arrow__left {
  width: 48px;
  height: 48px;
}
.monday__left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.week__day {
  display: flex;
  width: 112px;
  padding: 14px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #302929;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.week__day:hover {
  background: white;
}
.week__flex {
  margin-left: 13px;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.week__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
}
.this {
  width: 90px;
  height: 16px;
  border-radius: 5px;
  background: #ffa800;
}
.text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
}
/* ----------------------------------boxes---------------------------- */
.week__box {
  width: 215px;
  border-radius: 28px;
  background: white;
  padding-bottom: 10px;
}
.weekbox__name {
  padding-left: 13px;
  color: #b0cc0d;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
.weekbox__text {
  margin-top: 10px;
  padding-left: 13px;
  width: 194px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.weekbox__gramm {
  margin-top: 7px;
  padding-left: 13px;
  color: #0a0909;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 21.6px */
}
.orange__circle {
  position: relative;
}
.circle {
  position: absolute;
  top: -390px;
  left: 168px;
}
.circle__number {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
  position: absolute;
  top: -381px;
  left: 179px;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.arr_left {
  position: absolute;
  left: -35px;
}
.arr_right {
  position: absolute;
  right: -35px;
}
/* ----------------- */
.our__menu__text {
  margin-top: 14px;
  width: 1128px;
  height: 68px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.from__div {
  margin-top: 15px;
  width: 100%;
  width: 1122px;
  height: 80px;
  border-radius: 15px;
  background: #fff;
}
.week {
  padding-bottom: 54px;
}
.cam {
  width: 48px;
  height: 48px;
}
.gel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 207px;
  height: 60px;
  border-radius: 10px;
  background: #ffa800;
  box-shadow: 0px 0px 7px 0px rgba(255, 168, 0, 0.54);
}
.gel:hover {
  background: #b0cc0d;
}
.from__div {
  padding-left: 13px;
  display: flex;
  align-items: center;
}
.day {
  width: 104px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.tuesday {
  margin-left: 20px;
  /* width: 151px; */
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.pen {
  width: 32px;
  height: 32px;
}
.protein {
  display: flex;
  align-items: center;
  margin-left: 22px;
}
.number__text {
  margin-left: 7px;
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 31.2px */
}
.now {
  margin-left: 40px;
  display: flex;
  width: 241px;
  padding: 18px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  border: none;
}
.now:hover {
  background: #b0cc0d;
}
.now:active {
  opacity: 0.6;
}
.week__barg {
  position: absolute;
  top: -120px;
  right: -40px;
}
.week {
  margin-bottom: 100px;
}
.week__pbarg {
  position: absolute;
  bottom: -90px;
  right: 400px;
}
/* ----------------------------------delivery------------------------------------ */
.delivery {
  margin-bottom: 40px;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}
.action__input {
  width: 950px;
  height: 68px;
  border-radius: 23px;
  background: #d2cfcf;
  border: none;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  padding-left: 22px;
}
.form__div {
  width: 100%;
  display: flex;
  align-items: center;
  background: #d2cfcf;
  border-radius: 23px;
  justify-content: space-around;
}
.search {
  padding-left: 15px;
}
/* ---------------------------------location------------------------------------------- */
.location {
  width: 100%;
}
.location {
  height: 470px;
  margin-top: 40px;
  border-radius: 22px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-bottom: 100px;
}
.location__a {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/* ---------------------------------------------------------------------------------- */
.advantage {
  margin-bottom: 40px;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}
.dumaloq {
  width: 83px;
  height: 83px;
  margin-left: 53px;
  margin-bottom: 11px;
}
.well {
  width: 185px;
  position: relative;
  margin-bottom: 67px;
  border-radius: 30px;
}
.well:hover {
  background: #f1cd84;
  transition: 0.3s;
}
.well__title {
  width: 183px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
.well__span {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.circle__center {
  position: absolute;
  top: 15px;
  left: 70px;
}
.well__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ---------------------------------------------------------------------------------------------- */
.daywrapper {
  width: 100%;
  height: 320px;
  background: #b0cc0d;
}
.daycontainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.day__title {
  padding-top: 21px;
  padding-bottom: 17px;
  width: 407px;
  height: 102.578px;
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  text-transform: uppercase;
}
.day__text {
  width: 386px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.continute {
  margin-top: 16px;
  display: flex;
  width: 182px;
  height: 61.324px;
  padding: 18px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  border: none;
}
.continute:hover {
  background: #b0cc0d;
  border: 0.5px solid;
}
.pachka {
  position: absolute;
  top: -90px;
  right: 250px;
  /* z-index: -1; */
}
.sabzavot {
  position: absolute;
  top: -40px;
  right: -150px;
}
/* ------------------------------------faq-------------------------------------- */
.faq {
  margin-top: 100px;
  margin-bottom: 40px;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}
.cashback__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 165px;
  border-radius: 28px;
  background: #cfcccc;
  box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.25);
}
.cashback__box:hover {
  background: #b0cc0d;
  transition: 0.3s;
}
.cashback__img {
  width: 54px;
  height: 54px;
}
.cash__text {
  margin-top: 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
.cashback {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.what__title {
  margin-bottom: 35px;
  color: #302929;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.horisontal {
  margin-bottom: 35px;
  width: 100%;
  height: 1px;
  background: #b0b0b0;
  border: none;
}
.what__text {
  margin-bottom: 15px;
  color: #b0cc0d;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.what__texts {
  margin-bottom: 35px;
  width: 773px;
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.part {
  margin-bottom: 35px;
  color: #302929;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
/* ---------------------------------lets------------------------- */
.lets__img {
  position: absolute;
  left: -120px;
}
.lets__left {
  position: relative;
  width: 405px;
  height: 498px;
}
.touch {
  width: 337px;
  color: #b0cc0d;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}
.get__text {
  width: 387px;
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.get__input {
  display: flex;
  width: 139px;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: none;
  background: #dad9d9;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.get__number {
  display: flex;
  width: 180px;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: none;
  background: #dad9d9;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.first__form {
  display: flex;
  align-items: center;
  gap: 13px;
}
.get__email {
  margin-top: 23px;
  display: flex;
  width: 390px;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: none;
  background: #dad9d9;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.lets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__btn {
  display: inline-flex;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
.form__btn:hover {
  background-color: #b0cc0d;
  transition: 0.3s;
}
.form__btn:active {
  opacity: 0.6;
}
.first {
  margin-top: 23px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.tele__btn {
  display: flex;
  width: 83px;
  height: 55px;
  padding: 18px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: #ffa800;
  border: none;
}
.tele__btn:hover {
  background: #b0cc0d;
  transition: 0.3s;
}
.tele__btn:active {
  opacity: 0.6;
}
.lets__right {
  position: relative;
}
.lets__right__img {
  position: absolute;
  top: -230px;
  right: -70px;
}
.oq__chiiziq {
  position: absolute;
  top: 75px;
  left: 13px;
  z-index: -1;
}
.lets {
  margin-bottom: 30px;
}
/* -------------------------------------footer----------------------------------- */
.footer__wrapper {
  width: 100%;
  background: #b0cc0d;
}
.footer__container {
  width: 70%;
  margin-left: 10%;
  padding-top: 63px;
}
.footer__logo {
  width: 183px;
  height: 61px;
  margin-bottom: 39px;
}
.sm_flex {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__menu {
  margin-bottom: 18px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}
.footer__terms {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
.footer__center {
  display: flex;
  gap: 29px;
}
.footer__right__flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
.joylashuv__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.end__text {
  margin-left: 30px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.foooter__div {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
}
.footer__end__flex {
  margin-top: 27px;
}
.footer__end__img {
  position: absolute;
  right: -305px;
  top: -180px;
}
.end__chiziq {
  position: absolute;
  right: -305px;
  top: -225px;
  z-index: -1;
}
.end__tekst {
  margin-top: 52px;
  padding-bottom: 28px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
